<table id="employees" class="table">
    <thead>
      <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Sex</th>
        <th scope="col">CompanyId</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.sex}}</td>
        <td>{{employee.companyId}}</td>
        <button (click)="deleteEmployee(employee)">Delete</button>
        <button (click)="ShowRegForm(employee)">Edit</button>
      </tr>
    </tbody>
  </table>
<button (click)="EnableForm()">Add</button>

<form #regForm="ngForm">  
  <div class="container" *ngIf="editCustomer">  
    <h3>{{FormHeader}}</h3>  
    <table class="table table-condensed">  
      <tbody>  
        <tr>  
          <td>Id</td>  
          <td>{{id}}</td>  
          </tr>
        <tr>  
          <td>First Name</td>  
          <td><input type="text" name="firstName" [(ngModel)]='firstName' ></td>  
          </tr>  
          <tr>  
          <td>Last Name</td>  
          <td><input type="text" name="lastName" [(ngModel)]='lastName'></td>  
          </tr>  
          <tr>  
          <td> Sex</td>  
          <td><input type="text" name="sex" [(ngModel)]='sex'></td>  
          </tr> 
          <tr>  
          <td> CompanyId</td>  
          <td><input type="text" name="companyId" [(ngModel)]='companyId'></td>  
          </tr>  
          <tr>  
          <td><input type="hidden" name="id" [(ngModel)]='id'></td>  
          <td><input id="btn1" disabled="true" type="button" value="Save" (click)="updateEmployee()"></td> 
          <td><button id="btn2" type="submit"(click)="addEmployee()">Add</button></td> 
        </tr>  
      </tbody>  
    </table>  
   </div>  
  </form>  
